*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(115, 177, 239);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    height: 80vh;
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.container .logo {
    width: 120px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.container .logo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} 

.container h1 {
    font-size: 100px;
    margin-top: 20px;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}

.container p {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media (max-width: 600px){
    .container h1 {
        font-size: 36px; /* Adjusted for smaller screens */
    }
    
    .container {
        width: 70%; /* Make the container responsive */
        height: auto; /* Allow height to adjust based on content */
    }

    .logo {
        width: 40px; /* Make the logo responsive */
        height: auto; /* Allow height to adjust based on content */
    }

    .logo img {
        width: 100%; /* Make the logo image responsive */
        height: auto; /* Allow height to adjust based on content */
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .container p {
        font-size: 16px; /* Adjusted for smaller screens */
    }
}


@media (max-width: 400px){
    .container h1 {
        font-size: 28px; /* Further adjusted for very small screens */
    }
    
    .container {
        width: 80%; /* Make the container even more responsive */
        height: auto; /* Allow height to adjust based on content */
        padding-top: 100px; /* Add some padding for better spacing */
        margin-top: 50px;
    }

    .logo {
        width: 30px; /* Further adjust logo size */
    }

    .logo img {
        width: 100%;
        height: auto;
    }

    .container p {
        font-size: 14px; /* Further adjusted for very small screens */
    }
}